body {
    font-family: Arial, sans-serif;
    margin: 0;
    padding: 0;
    display: flex;
    
   
    
}
    .img{
        
        height: 130%;
        width: 100%;
        background-size: cover;
        position:absolute;
        background-color:teal;
        
    }
   
   
   .container{
	   width: 400px;
        height: 600px;
        padding: 30px;
        background-color: #fff;
        border-radius: 5px;
        box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
        position: relative;
        margin: 3% auto;

   }
    label {
    display: block;
    
   }
    .input-container {
    margin-bottom: 10px;
   }
    button {
    padding: 10px 20px;
    background-color: #007BFF;
    color: white;
    border: none;
    cursor: pointer;
    margin-right: 10px;
   }
   
   button:hover {
    background-color: #0056b3;
   }
    input, textarea, select {
    width: 100%;
    padding: 5px;
    border: 1px solid #ccc;
   }
   